.container
  .row
    .col-lg-12
      %a.xlarge{:href => "/users/#{@profile.name}"}= "@#{@profile.name}"
  .row
    .col-lg-12
      %br
      %img{:src => url(@profile.icon_url), :width => "64"}
  %br
  .row
    .col-lg-12
      %a.gauge{:href => "/users/#{@profile.name}/followers"}
        %div.value= @info[:followers]
        %div.key followers
      %a.gauge{:href => "/users/#{@profile.name}/following"}
        %div.value= @info[:follows]
        %div.key following
      %a.gauge{:href => ""}
        %div.value= @info[:completed]
        %div.key completed
  %br
  .row
    .col-lg-12
      %h2 followers
      %dl
        - @profile.followers.each do |f|
          %dt
            %dd
              %img{:src => url(f.get_profile(f.user_id)[:icon]), :width => "32"}
              %a{:href => url("users/#{f.get_profile(f.user_id)[:name]}")}= "@#{f.get_profile(f.user_id)[:name]}"

