.container
  .row
    .col-lg-12
      %a.large{:href => ""}= "##{@hashtag}"
  .row
    .col-lg-12
      %br
      - @actions.each do |a|
        - profile  = a.get_delegate_profile
        - comments = a.get_origin_comments
        %div.action.row
          %div.title.col-lg-1.col-md-1.col-sm-2
            %img{:src => url(profile[:icon]), :width => "32"}
            %a.since{:href => "/users/#{profile[:name]}"}= "@#{profile[:name]}"
            %p.since= "#{a.time_elapsed} open"
          %div.content.col-lg-8.col-md-8.col-sm-8
            %p.medium= a.encoded_action
            %button.btn.btn-warning.btn-xs{:onclick => "viewComments(#{a.id}); return false;"}
              %span.glyphicon.glyphicon-comment
              %span{:id => "vc#{a.id}"}
                = " (#{comments.length})"
        %div.comment-box.hide{:id => "c#{a.id}"}
          .row
            %div.col-lg-6.col-md-8.col-sm-8
              %input.form-control{:id => "comment#{a.id}", :type => "text", :placeholder => "add comment"}
            %div.col-lg-1.col-md-1.col-sm-1
              %button.btn{:onclick => "addComment(#{a.id}); return false;"} comment
            %br
            .row
              %div.comments{:id => "clist#{a.id}"}
                - comments.each do |c|
                  - comment = c.get_profile
                  %div.comment.col-lg-6.col-md-6.col-sm-6{:id => "dd#{c.id}"}
                    %img.pull-left.spacing{:src => url(comment[:icon]), :width => "16"}
                    %a.pull-left.spacing{:href => "/users/#{comment[:name]}"}= "@#{comment[:name]}: "
                    %p.since= "#{c.encoded_comment} (#{c.time_elapsed})"
%input{:id => "username", :type => "hidden", :value => "#{@user.name}"}

