.container-fluid
  .row-fluid
    .span14
      %a.large{:href => ""}= "##{@hashtag}"
  .row-fluid
    .span14
      %br
      - @actions.each do |a|
        - profile  = a.get_delegate_profile
        - comments = a.get_origin_comments
        %div.action
          %div.title
            %img{:src => url(profile[:icon]), :width => "32"}
            %a.since{:href => "/users/#{profile[:name]}"}= "@#{profile[:name]}"
            %p.since= a.time_remaining
          %div.content
            %p.medium= a.encoded_action
            %button.btn.btn-mini{:id => "vc#{a.id}", :onclick => "viewComments(#{a.id}); return false;"}= "comments (#{comments.length})"
        %div.comment-box.form-inline.hide{:id => "c#{a.id}"}
          %input.input-xxlarge{:id => "comment#{a.id}", :type => "text", :placeholder => "add comment"}
          %button.btn{:onclick => "addComment(#{a.id}); return false;"} comment
          %br
          %br
          %div.comments{:id => "clist#{a.id}"}
            - comments.each do |c|
              - comment = c.get_profile
              %div.comment{:id => "dd#{c.id}"}
                %div.comment-header.form-inline
                  %img.pull-left.spacing{:src => url(comment[:icon]), :width => "32"}
                  %a.pull-left.spacing{:href => "/users/#{comment[:name]}"}= "@#{comment[:name]}: "
                  %p.since= "#{c.comment} (#{c.time_remaining})"
%input{:id => "username", :type => "hidden", :value => "#{@user.name}"}
