.container
  .row
    .col-lg-12
      %table.table.table-hover
        %th assigned by
        %th action
        %th completion
        %th duration
        %th comments
        - @actions.each do |a|
          - profile  = a.get_assigner_profile
          - comments = a.get_origin_comments 
          %tr
            %td
              %img{:src => url(profile[:icon]), :width => "32"}
            %td= a.action
            %td= a.finished
            %td= a.get_duration
            %td
              %button.btn.btn-xs= "comments (#{comments.length})"

