:javascript
  $(function() {
    $("#reassign-dialog").dialog({
      autoOpen: false,
      height: 350,
      width: 350,
      title: "reassign action",
      modal: true
    });
    openComments();
  });
- if @hashtags.nil?
  - @actions.each do |a|
    - if @who == "delegate"
      - profile = a.get_delegate_profile
    - else
      - profile = a.get_assigner_profile
    - comments = a.get_origin_comments 
    .container-fluid
      %div.action.row
        %div.title.col-lg-1
          %img{:src => url(profile[:icon]), :width => "32"}
          %a.since{:href =>""}= "@#{profile[:name]}"
          %p.since= "#{a.time_elapsed} open"
        %div.content.col-lg-10
          %p.medium{:id => "#{a.id}"}= a.encoded_action
          %button.btn.btn-warning.btn-xs{:id => "vc#{a.id}", :onclick => "viewComments(#{a.id}); return false;"}
            %span.glyphicon.glyphicon-comment
            = " (#{comments.length})"
          - if a.get_origin_user_id == @user.id
            %button.btn.btn-danger.btn-xs{:onclick => "deleteAction(#{a.id}); return false;"}
              %span.glyphicon.glyphicon-trash
          - if @view != "assigned"
            %button.btn.btn-info.btn-xs{:onclick => "reassignDialog(#{a.id}); return false;"}
              %span.glyphicon.glyphicon-share
            %button.btn.btn-success.btn-xs{:onclick => "completeAction(#{a.id}); return false;"}
              %span.glyphicon.glyphicon-thumbs-up
      %div.comment-box.hide{:id => "c#{a.id}"}
        .row
          %div.col-lg-6
            %input.form-control{:id => "comment#{a.id}", :type => "text", :placeholder => "add comment"}
          %div.col-lg-2
            %button.btn{:onclick => "addComment(#{a.id}); return false;"} comment
          %br
          .row
            %div.comments{:id => "clist#{a.id}"}
              - comments.each do |c|
                - comment = c.get_profile
                %div.comment.col-lg-6{:id => "dd#{c.id}"}
                  %img.pull-left.spacing{:src => url(comment[:icon]), :width => "16"}
                  %a.pull-left.spacing{:href => "/users/#{comment[:name]}"}= "@#{comment[:name]}: " 
                  %p.since= "#{c.encoded_comment} (#{c.time_elapsed})"
- else
  - @hashtags.each do |h|
    %button.btn.btn-info{:onclick => "goto('/hashtags/#{h}'); return false;"}= "##{h}"
.container
  .row
    .col-lg-12
      %div{:id => "reassign-dialog"}
        %input{:id => "actionid", :type => "hidden"}
        %p.alert.alert-info.small{:id => "current"}
        %p.since{:id => "rcounter"} 140
        %div.input-group
          %textarea.form-control.input-lg{:id => "reassignment", :maxlength => "140", :rows => "4", :onkeyup => "count( this, 'rcounter' ); return false;"}
        %div.input-group
          %button.btn.btn-danger{:onclick => "addAction(true); return false;"} reassign

