!!!
%html{:lang => "en"}
  %head
    %title= @title
    %link{:rel => "stylesheet", :href => url("bootstrap/css/bootstrap.css")}
    %link{:rel => "stylesheet", :href => url("styles/getsdone.css")}
    %link{:rel => "stylesheet", :href => url("jquery/themes/start/jquery-ui.css")}
    %script{:src => url("jquery/jquery-1.9.1.js")}
    %script{:src => url("jquery/ui/jquery.ui.core.js")}
    %script{:src => url("jquery/ui/jquery.ui.widget.js")}
    %script{:src => url("jquery/ui/jquery.ui.mouse.js")}
    %script{:src => url("jquery/ui/jquery.ui.button.js")}
    %script{:src => url("jquery/ui/jquery.ui.draggable.js")}
    %script{:src => url("jquery/ui/jquery.ui.position.js")}
    %script{:src => url("jquery/ui/jquery.ui.resizable.js")}
    %script{:src => url("jquery/ui/jquery.ui.dialog.js")}
    %script{:src => url("jquery/ui/jquery.ui.effect.js")}
    %script{:src => url("scripts/twitter-text.js")}
    %script{:src => url("scripts/json2.js")}
    %script{:src => url("scripts/getsdone.js")}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42203221-1', 'getsdone.io');
    ga('send', 'pageview');

  %body
    - if @user.nil?
      %input{:id => "uname", :type => "hidden", :value => ""}
      %input{:id => "gravatar", :type => "hidden", :value => ""}
    - else
      %input{:id => "uname", :type => "hidden", :value => "#{@user.name}"}
      %input{:id => "gravatar", :type => "hidden", :value => "#{@user.icon_url}"}
    - unless @user.nil? or @nohead
      = haml :navbartop
    = yield
    - unless @nofoot
      = haml :navbarbottom

