.container
  .masthead
    %ul.nav.pull-right
      %li
        %a.gauge{:href => "/users/#{@user.name}"}
          %p.large= "@#{@user.name}"
        %a.gauge{:href => url("/users/#{@user.name}/followers")}
          %div.value #{@info[:followers]}
          %div.key followers
        %a.gauge{:href => url("/users/#{@user.name}/following")}
          %div.value #{@info[:follows]}
          %div.key following
        %a.gauge{:href => ""}
          %div.value #{@info[:completed]} 
          %div.key completed
    %ul.nav.nav-tabs
      - if @view.nil? or @view == "open"
        %li.active
          %a{:href => "/home?view=open"}
            open
            - if @user.open_actions.length > 0
              %span.label.label-danger #{@user.open_actions.length}
      - else
        %li
          %a{:href => "/home?view=open"}
            open
            - if @user.open_actions.length > 0
              %span.label.label-danger #{@user.open_actions.length}
      - if @view == "assigned"
        %li.active
          %a{:href => "/home?view=assigned"}
            assigned
            - if @user.assigned_actions.length > 0
              %span.label.label-danger #{@user.assigned_actions.length}
      - else
        %li
          %a{:href => "/home?view=assigned"}
            assigned
            - if @user.assigned_actions.length > 0
              %span.label.label-danger #{@user.assigned_actions.length}
      - if @view == "closed"
        %li.active
          %a{:href => "/home?view=closed"}
            closed
      - else
        %li
          %a{:href => "/home?view=closed"}
            closed
.container
  .row
    .col-lg-12.col-md-12.col-sm-12
      %p.since{:id => "counter"} 140
  .row
    .col-lg-8.col-md-8.col-sm-8
      %textarea.form-control{:id => "action", :placeholder => "action", :type => "text", :maxlength => "140", :onkeyup => "count( this, 'counter' ); return false;", :rows => "2"}
    .col-lg-2.col-md-2.col-sm-2
      %button.btn.btn-primary.btn-lg{:onclick => "addAction(false); return false;"} add action
%br

