.container
  .masthead
    %ul.nav.pull-right
      %li
        %a.gauge{:href => ""}
          %p.large @stephenhu
        %a.gauge{:href => ""}
          %div.value #{@user.info[:followers]}
          %div.key followers
        %a.gauge{:href => ""}
          %div.value #{@user.info[:following]}
          %div.key following
        %a.gauge{:href => ""}
          %div.value #{@user.info[:completed]} 
          %div.key completed
    %ul.nav.nav-pills
      %li.active
        %a{:href => ""} today (#{@user.action_info[:today]+@user.action_info[:overdue]})
      %li
        %a{:href => ""} this week (#{@user.action_info[:week]+@user.action_info[:overdue]})
      %li
        %a{:href => ""} open (#{@user.open_actions.length})
      %li
        %a{:href => ""} history
      %li
        %a{:href => ""} statistics
    %hr
    %p.since 140
    %div.form-inline
      %input.input-xxlarge{:id => "action", :placeholder => "action", :type => "text", :maxlength => "140"}
      %button.btn.btn-primary{:onclick => "addAction(); return false;"} add action
    %br

