.container
  .masthead
    %ul.nav.pull-right
      %li
        %a.gauge{:href => ""}
          %p.large @stephenhu
        %a.gauge{:href => ""}
          %div.value #{@user.info[:followers]}
          %div.key followers
        %a.gauge{:href => ""}
          %div.value #{@user.info[:following]}
          %div.key following
        %a.gauge{:href => ""}
          %div.value #{@user.info[:completed]} 
          %div.key completed
    %ul.nav.nav-pills
      - if @view.nil? or @view == "upcoming"
        %li.active
          %a{:href => "/home?view=upcoming"} upcoming (#{@user.action_info[:upcoming]+@user.action_info[:overdue]})
      - else
        %li
          %a{:href => "/home?view=upcoming"} upcoming (#{@user.action_info[:upcoming]+@user.action_info[:overdue]})
      - if @view == "open"
        %li.active
          %a{:href => "/home?view=open"} open (#{@user.open_actions.length})
      - else
        %li
          %a{:href => "/home?view=open"} open (#{@user.open_actions.length})
      - if @view == "hashtags"
        %li.active
          %a{:href => "/home?view=hashtags"} hashtags (#{@user.hashtag_actions.length})
      - else
        %li
          %a{:href => "/home?view=hashtags"} hashtags (#{@user.hashtag_actions.length})
      - if @view == "history"
        %li.active
          %a{:href => "/home?view=history"} history
      - else
        %li
          %a{:href => "/home?view=history"} history
      - if @view == "statistics"
        %li.active
          %a{:href => "/home?view=statistics"} statistics
      - else
        %li
          %a{:href => "/home?view=statistics"} statistics
    %hr
    %p.since 140
    %div.form-inline
      %input.input-xxlarge{:id => "action", :placeholder => "action", :type => "text", :maxlength => "140"}
      %button.btn.btn-primary{:onclick => "addAction(); return false;"} add action
    %br

