.container
  .row
    .col-lg-12
      %a.xlarge{:href => ""}= "@#{@profile.name}"
  .row
    .col-lg-12
      %br
      %img{:src => url(@profile.icon_url), :width => "64"}
  %br
  .row
    .col-lg-12
      %a.gauge{:href => url("users/#{@profile.name}/followers")}
        %div.value= @info[:followers]
        %div.key followers
      %a.gauge{:href => url("users/#{@profile.name}/following")}
        %div.value= @info[:follows]
        %div.key following
      %a.gauge{:href => ""}
        %div.value= @info[:completed]
        %div.key completed
  %br
  .row
    .col-lg-12
      - if @user.nil? or @profile.id == @user.id
        %button.btn.btn-large.disabled{:disabled => "disabled"} follow
      - elsif @user.is_following(@profile.id)
        %button.btn.btn-large{:onclick => "unfollow(#{@profile.id}); return false;"} unfollow
      - else
        %button.btn.btn-large{:onclick => "follow(#{@profile.id}); return false;"} follow

