.container
  .row
    .col-lg-12
      %p= "#{@actions.length} records"
      %table.table.table-hover.table-striped.table-condensed
        %th user id
        %th delegate id
        %th completed
        %th action
        - @actions.each do |a|
          %tr
            %td= a.user_id
            %td= a.delegate.user_id
            %td= a.completed
            %td= a.action

