.container
  %br
  %br
  .row
    .span14
      %a.xlarge{:href => ""}= "@#{@user.name}"
  %br
  .row
    .span14
      %a.gauge{:href => ""}
        %div.value= @user.info[:followers]
        %div.key followers
      %a.gauge{:href => ""}
        %div.value= @user.info[:following]
        %div.key following
      %a.gauge{:href => ""}
        %div.value= @user.info[:completed]
        %div.key completed
  %br
  .row 
    .span14
      %button.btn.btn-large follow

